<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="bootstrap.css">
    <script src="jq封装.js"></script>
    <script src="js/bootstrap.js"></script>
    <style>
    *{
        margin: 0;
    }
    li{
        list-style: none;

    }
    .caret_top{
        margin: 20px 0 0 0;
        height: 50px;
        
    }
    .caret_top .row{
      margin: 0 60px;
      padding: 8.5px 50px;

    }
    /* .switch-cart {
        overflow: hidden;
        height: 33px;
    } */
    .btn-switch-cart {
        float: left;
        font-weight: 700;
        font-size: 16px;
        height: 16px;
        line-height: 1.1;
        text-align: center;
        padding: 0 0 15px 0;
        cursor: pointer;
        margin-left: -1px;
       
    }
    .switch-cart-0 a {
        padding-left: 15px;
        color: #3c3c3c;
        /* float: left; */
    }
    
    .btn-switch-cart .number {
        color: #f40;
        font-size: 14px;
        margin: 0 30px 0 5px;
        font-weight: 400;
    }
    .cart-sum {
        /* position: absolute; */
        right: 0;
        top: 0;
        height: 25px;
        line-height: 25px;
        margin-top: 5px;
    }
    .cart-sum .submit-btn{
        display: inline-block;
        width: 55px;
        background: #aaa;
        color: #fff;
        cursor: not-allowed;
        text-align: center;
    }
    /* .caret_top .wrap-line {
        width: 800px;
        clear: both;
        background: #e6e6e6;
        height: 2px;
        position: relative;
        padding: 0;
    } */
    .caret_content{
        height: 200px;
        padding: 0 130px;
    }
    .caret_content .row{
        margin: 0
    }
    .caret_content .row>div{
      padding: 0
    } 
    .float-bar-wrapper{
        width: 910px;
        position: fixed;
        height: 50px;
        background: #e5e5e5;
        bottom: 0;
        margin: 0 220px;
    }
    .float-bar-wrapper>div{
      margin: 15px 0 0 0
    }
    .caret_content .shop_content table{
        border: 1px solid #ccc;
        
    }
    .operations a {
        margin-left: 15px;
        color: #3c3c3c;
    }
    .amount-sum #J_SelectedItemsCount,.price-sum #J_Total{
        color: #f40;
        font-weight: 700;
        font-size: 18px;
        font-family: tohoma,arial;
    }
    .float-bar-wrapper>div.btn_jiesuan {
      margin: 0
    }
    .btn_jiesuan button{
        background: #B0B0B0;
        color: #fff;
        border-left: 1px solid #e7e7e7;
        width: 74px;
        height: 50px;
        cursor: not-allowed;
    }
   
    </style>
</head>
<body>
    <div id="app">
        <div class="caret_top container-fluid ">
            <div class="row">
                    <ul  class="switch-cart col-lg-6 row" >
                        <li class="btn-switch-cart switch-cart-0 current col-lg-3" v-for="(item,index) in cart_top_list">
                            <a href="#">
                                <span class="name" v-if="index==0" style="color:#f40;">{{item.name}}</span>
                                <span class="name" v-if="index>0">{{item.name}}</span>
                                <span class="number">0</span>
                            </a>
                        </li>
                    </ul>
                    <div class="cart-sum col-lg-3 col-lg-offset-1">
                        <span class="pay-text">已选商品（不含运费）</span>
                        <strong class="price">
                            <span id="J_SmallTotal"><span class="total-symbol">&nbsp;</span>0.00</span>
                        </strong>
                        <a id="J_SmallSubmit" class="submit-btn submit-btn-disabled">结&nbsp;算</a>
                    </div>

            </div>
            <!-- <div class="wrap-line row"></div> -->
        </div>
        <div class="caret_content container">
                <div class="row" style="margin: 0 0 10px 0">
                        <div class="th th-chk col-lg-2">
                            <div id="J_SelectAll1" class="select-all J_SelectAll">
                                <div class="cart-checkbox">
                                    <input class="J_CheckBoxShop"  type="checkbox" >
                                    <span>全选</span>
                                </div>
                            </div>
                        </div>
                        <div class="th th-chk col-lg-2">
                            <div id="J_SelectAll1" class="select-all J_SelectAll">
                                <div class="cart-checkbox">
                                    <span>商品信息</span2>
                                </div>
                            </div>
                        </div>
                        <div class="th th-chk col-lg-1 col-lg-offset-2">
                            <div id="J_SelectAll1" class="select-all J_SelectAll">
                                <div class="cart-checkbox">
                                    <span>单价</span2>
                                </div>
                            </div>
                        </div>
                        <div class="th th-chk col-lg-2" style="text-align: center">
                            <div id="J_SelectAll1" class="select-all J_SelectAll">
                                <div class="cart-checkbox">
                                    <span>数量</span2>
                                </div>
                            </div>
                        </div>
                        <div class="th th-chk col-lg-1">
                            <div id="J_SelectAll1" class="select-all J_SelectAll">
                                <div class="cart-checkbox">
                                    <span>金额</span2>
                                </div>
                            </div>
                        </div>
                        <div class="th th-chk col-lg-2">
                            <div id="J_SelectAll1" class="select-all J_SelectAll">
                                <div class="cart-checkbox">
                                    <span>操作</span2>
                                </div>
                            </div>
                        </div>
                </div>
            
                <div class="row " v-for="(item,index) in shop_list">
                    <div class="row shopping_shop">
                        <input type="checkbox" @click="all(index,item.shop_content[0].id)">
                        <span class="shop_color">店铺:</span>
                        <span>{{item.shop_name}}</span>


                    </div>
                    <div class="row shop_content" >
                        <table class="table ">
                            <tr class="row " v-for="content in item.shop_content" :key="content.id">
                                <td class="col-lg-2" >
                                    <input type="checkbox"  v-model="content.checked" @change="compute(index,content.id)">
                                    <img v-bind:src="content.img" alt="" style="width: 100px;height: 100px;">
                                </td>
                                <td class="col-lg-2" >{{content.xinxi}}</td>
                                <td class="col-lg-2 col-lg-offset-2" >{{content.size}}</td>
                                <td class="col-lg-1">￥<span>{{content.price}}</span></td>
                                <td class="col-lg-2 row" style="text-align: center">
                                    <button class=" col-lg-1" v-if="true"  @click="changeNum(index,content.id, 0)">-</button>

                                    <input type="text"  class="col-lg-5" v-if="true"  :value="content.num" >
                                    <button class="col-lg-1"    @click="changeNum(index,content.id, 1)">+</button>
                                </td>
                                <td class="col-lg-1">￥<span>{{content.price * content.num }}</span></td>
                                <td class="col-lg-2">
                                    <p>移入收藏夹</p>
                                    <p @click="del(index,content.id-1)" style="cursor:pointer">删除</p>
                                </td>
                            </tr>
                          
                        </table>

                    </div>
                </div>

                
        </div>
        <div class="float-bar-wrapper row container" style="padding-right: 0">
            <div class="col-lg-1" style="padding-left: 0px">
                <input type="checkbox" name="" id="">
                <span>全选</span>
            </div>
            <div class="operations col-lg-5">
                <a href="#" hidefocus="true" class="J_DeleteSelected" >删除</a>
                <a href="#" hidefocus="true" class="J_DeleteSelected">清除失效宝贝</a>
                <a href="#" hidefocus="true" class="J_DeleteSelected">移入收藏夹</a>
                <a href="#" hidefocus="true" class="J_DeleteSelected" >分享</a>
                
            </div>
            <div id="J_ShowSelectedItems" class="amount-sum col-lg-2">
                <span class="txt">已选商品</span>
                <span id="J_SelectedItemsCount">{{shu}}</span>
                <span class="txt">件</span>
                <div class="arrow-box">
                    <span class="selected-items-arrow"></span>
                    <span class="arrow"></span>
                </div>
            </div>
            <div class="price-sum col-lg-3">
                    <span class="txt">合计（不含运费）：</span>
                    <strong class="price">
                        <span id="J_Total"><span class="total-symbol">&nbsp;</span> {{zongjia}}</span>
                    </strong>
            </div>
            <div class="btn_jiesuan ">
                <button class="btn btn-default">结算</button>
            </div>
        </div>
       
    </div>
    <script>
        var app=new Vue({
           el:"#app",
            data:{
                boo:true,
                shu:0,
                zongjia:0,
                cart_top_list:[
                    {
                        name:"全部商品",
                    },
                    {
                        name:"降价商品",
                    },
                    {
                        name:"库存紧张",
                    }
                ],
                shop_list:[
                     
                     {
                         
                        
                        shop_name:"港味潮人馆",
                        shop_content:[
                            {
                            num:1,
                            checked:false,
                            id:0,
                            img:"https://img.alicdn.com/bao/uploaded/i1/2041579417/O1CN012JR2DJpsFep8S20_!!2041579417.jpg_80x80.jpg",
                            xinxi:"韩版chic字母印花宽松加绒套头卫衣学生上衣甜美碎花裙套装女秋",
                            size:"颜色分类：灰色卫衣尺码：均码",
                            price:"42.00",

                            },
                            {
                            num:1,
                            checked:false,
                            id:1,
                            img:"https://img.alicdn.com/bao/uploaded/i4/2041579417/O1CN012JR2DMw87cQgAcD_!!2041579417.jpg_80x80.jpg",
                            xinxi:"韩版chic宽松圆领套头长袖卫衣套装女秋松紧腰中长款撞色半身裙",
                            size:"颜色分类：毛衣裙子尺码：均码",
                            price:"45.00",

                        },
                           {
                            num:1,
                            checked:false,
                            id:2,
                            img:"https://img.alicdn.com/bao/uploaded/i3/2041579417/TB2nrapvbsrBKNjSZFpXXcXhFXa_!!2041579417.jpg_80x80.jpg",
                            xinxi:"秋冬韩国chic风气质V领onepiece舒适宽松长款针织连衣裙长裙女",
                            size:"颜色分类：蓝色尺码：均码",
                            price:"65.00",

                         },

                        ]
                    },
                    {
                        shop_name:"美美的春春 贺春梅",
                        shop_content:[
                            {
                            num:1,
                            checked:false,
                            id:0,
                            img:"https://img.alicdn.com/bao/uploaded/i2/285376281/O1CN011wGk91DHHQx9ulU_!!285376281.jpg_80x80.jpg",
                            xinxi:"冬天光腿肉色神器女加厚加绒双层塑形丝袜春秋薄绒假透肉打底裤季",
                            size:"尺寸：均码[适合80-135斤]颜色分类：深肤色（厚绒）[建议0~10℃穿]",
                            price:"78.00",

                            },
                            {
                            num:1,
                            checked:false,
                            id:1,
                            img:"https://img.alicdn.com/bao/uploaded/i2/57717981/TB2qsF1duuSBuNjSsziXXbq8pXa_!!57717981.jpg_80x80.jpg",
                            xinxi:"秋季百搭光腿神器春秋薄款韩国打底裤女肉色压力瘦腿丝袜裸感自然",
                            size:"尺寸：120D[春秋薄款 【适合18℃-28℃】]颜色分类：【120D 两条装】肤色+肤色",
                            price:"35.00",

                        },

                        ]
                    },
                ],
                
                //判断CheckBox是否选中

            },
            methods:{
                 changeNum(index,index1, minusOrPlus) {
                    if(minusOrPlus===1){
                        console.log(this.shop_list[index].shop_content[index1].id)
                        this.shop_list[index].shop_content[index1].num+=1;
                        this.compute(index,index1)
                       
                    }
                    if(minusOrPlus===0){
                        if(this.shop_list[index].shop_content[index1].num>1){
                            this.shop_list[index].shop_content[index1].num-=1
                           this.compute(index,index1)
                        }
                    }
                  
    			},
                del (index,index1) {

                        this.shop_list[index].shop_content.splice(index1, 1); 
                  
                    },
                // allcheck (){
                //     for(var x=0;x<this.shop_list.length;x++){
                //         for(i=0;i<this.shop_list.length;i++)
                //         this.shop_list[x].shop_content[i].checked=this.boo
                //     }
                //     this.boo=!this.boo
                // },
                all(index,index1){
               
                    for(var x=0;x<this.shop_list[index].shop_content.length;x++){
                       
                        this.shop_list[index].shop_content[x].checked=this.boo
                    }
                    this.boo=!this.boo
                    compute(index,index1)
                },

                compute(index,index1){
                    this.shu=0 //总件数
                    this.zongjia=0 //总金额
                    if( this.shop_list[index].shop_content[index1].checked==true){
                    this.shu=this.shu+this.shop_list[index].shop_content[index1].num //总件数
                    this.zongjia =this.zongjia+this.shop_list[index].shop_content[index1].num*this.shop_list[index].shop_content[index1].price//总金额
                   }
                    
                   
                    
                },
                compute1(index,index1){
                    this.shu=0 //总件数
                    this.zongjia=0 //总金额
                    if( this.shop_list[index].shop_content[index1].checked==true){
                    this.shu=this.shu+this.shop_list[index].shop_content[index1].num //总件数
                    this.zongjia =this.zongjia+this.shop_list[index].shop_content[index1].num*this.shop_list[index].shop_content[index1].price//总金额
                   }
                    
                   
                    
                }
            },

         
        })
    
    </script>
</body>
</html>